.products {
  padding: 40px 50px;
  text-align: center;
}
.products h2{
  margin-bottom: 15px;
  font-size: 30px;
}
.pro_container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pro {
  background-color: white;
  width: 20%;
  height: 380px;
  min-width: 250px;
  padding: 10px 8px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  margin: 15px 5px;
}
.pro:hover {
  cursor: pointer;
  box-shadow: 10px 10px 54px rgba(31, 30, 48, 0.15);
}
.pro_img{
  width: 100%;
  height: 75%;
  overflow: hidden;
}
.pro_img img{
  width: 80%;
  padding: 10px 10px;
  height: 80%;
}
.pro_des{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  margin-left: 15px;
}
.pro_des h5{
  margin: 10px 0;
}
.product_price{
  display: flex;
  justify-content: space-between;
}
.product_price h6{
  color: #0ec1dd;
}
.product_cart{
  margin-right: 15px;
}
.product_cart:hover{
  cursor: pointer;;
  color: #0ec1dd;
}
